@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,400;0,700;1,200;1,400&display=swap");

:root {
  --pink: #ffdddb;
  --black: #151515;
  --green: #97cc04;
  --blue: #0e34a0;
  --orange: #e49b25;
}

body {
  font-family: "Chivo", Helvetica, Arial, sans-serif;
  color: var(--black);
}

/* SPLASH */
.splash-backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.splash-bg-gif {
  opacity: 20%;
  animation: move 10s infinite;
}

.splash-nav {
  position: absolute;
  top: 250px;
  left: 750px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.splash-nav a {
  color: var(--orange);
  text-decoration: underline;
  text-decoration-color: var(--black);
  text-shadow: var(--pink) 1px 0 1px;
}

.splash-nav a:hover {
  color: var(--black);
  text-decoration-color: var(--orange);
  text-shadow: none;
}

.splash-nav-line {
  border-bottom: 2px solid var(--black);
  z-index: -3;
  position: absolute;
  top: 63.5px;
  right: 100px;
  width: 500px;
}

.splash-nav-circle {
  height: 200px;
  width: 200px;
  z-index: -2;
  background-color: var(--orange);
  border-radius: 100%;
  top: -34px;
  right: -46px;
  position: absolute;
}

.splash-circle-big {
  height: 350px;
  width: 350px;
  padding: 20px;
  background-color: var(--pink);
  border: 2px solid var(--black);
  border-radius: 100%;
  position: absolute;
  top: 100px;
  left: 250px;
}

.splash-letter {
  color: var(--black);
}

.splash-circle-big img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .splash-circle-small {
  height: 140px;
  width: 140px;
  background-color: var(--green);
  border-radius: 100%;
  position: absolute;
  top: 30%;
  left: 32%;
} */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.splash-main .nav {
  list-style: none;
  grid-area: 4 / 7 / 9 / 11;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 100px;
}

.header-line {
  border-bottom: 2px solid var(--black);
  margin: 80px;
  z-index: -1;
  grid-column: 1 / 11;
}

.header-circle-big {
  height: 80px;
  width: 80px;
  background-color: var(--pink);
  border-radius: 100%;
  grid-column: 10 / 11;
}

.projects-main {
  display: flex;
  flex-direction: column;

  padding: 1em;
  width: 80%;
  margin: auto;
}

.projects-main h1 {
  margin: 0 0 0 -50px;
  font-size: 48px;
  line-height: 40px;
}

.project-card {
  border: 3px solid var(--black);
  width: 800px;
  margin: 2em;
  padding: 5px;

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.pc-detail-btn {
  cursor: pointer;
  width: 0;
  height: 0;
  margin-top: -8px;
  border-top: 80px solid var(--orange);
  border-left: 88px solid transparent;
  grid-area: 1 / 10 / 2 / 11;
}

.pc-title {
  grid-area: 1 / 1 / 2 / 10;

  margin: 1em;
  font-weight: 400;
  font-size: 28px;
}

.pc-desc {
  grid-area: 2 / 2 / 9 / 11;
  background-color: #ffffff8f;
  padding: 5px;
  font-size: 30px;
}

.pc-link {
  grid-area: 9 / 2 / 10 / 5;
}

.pc-img {
  z-index: -1;
  grid-area: 1 / 6 / 11 / 11;
  background-color: var(--pink);
  margin: 5px;
}

.pc-img img {
  width: 100%;
  padding: 2px;
  margin: auto;
}

/* Project Details Page */

.project-details-main {
  border: 3px solid var(--black);
  padding: 10px;
  margin: 2em;
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.pd-title {
  grid-area: 1 / 1 / 2 / 11;
  font-size: 36px;
}

.pd-desc {
  grid-area: 8 / 1 / 10 / 11;
}

.project-image-detail {
  grid-area: 3 / 3 / 8 / 9;
  background-color: var(--green);
}

.project-image-detail img {
  width: 100%;
}

.pd-link {
  grid-area: 10 / 1 / 11 / 11;
}

.pd-back-btn {
  cursor: pointer;
  width: 0;
  height: 0;
  margin-top: -13px;
  border-top: 70px solid var(--blue);
  border-left: 73px solid transparent;
  grid-area: 1 / 10 / 2 / 11;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}